extends layout

block content
    h1= title
    p Welcome to #{title}
    P Hosted at http://_.herokuapp.com/whoami
    p Example
        pre   {
            |     "ipaddress": "127.0.0.1",
            |     "language": "en-US",
            |     "software": "Windows NT 6.1; WOW64"
            |   }
